<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.tailwindcss.com/"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS Sidebar UI </title>
  </head>
  <body data-theme="light">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <div class="bg-center p-8 theme-text">
        <h1 class="text-center mb-3 text-3xl p-3" >CHOOSE THE SERVER</h1>

        <div class="bg-center py-8 lg:px-36 md:px-20 ">
          <% for(let guild of user.guilds.sort(function(a, b) {
              if(!bot.guilds.cache.some(x => x.id === a.id)) return 1;
              else if(!bot.guilds.cache.some(x => x.id === b.id)) return -1;  
          }))  { %>
              <% const perms = new Permissions(guild.permissions.toString()); %>
              <% if(!perms.toArray().includes("MANAGE_GUILD")) continue; %>
              
              <div class="flex px-2 py-2 rounded-lg hover:bg-gray-800 lg:text-xl md:text-lg text-base hover:-translate-y-1 hover:scale-105 transition ease-in-out delay-150">

                <div class="flex w-4/5 ">
                  <img class="my-auto items-center rounded-full h-14 w-14 hover:border-2 hover:border-red-300" 
                  src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : '/imgs/def.png' %>" alt="">
                  <p class="my-auto px-3 items-center">
                    <%= guild.name %>
                  </p>
                </div>
    
                <div class="grid w-1/5 justify-items-end p-3">
                  <% if(bot.guilds.cache.some(x => x.id === guild.id)) {%>
                      <button onclick="location.href = '/dashboard/<%= guild.id %>/heistSettings'" class="btn btn-sm btn-success">Settings</button>
                  <% } else { %>
                      <button onclick="location.href = '<%= invite_link %>'" class="btn btn-sm btn-primary">Invite me</button>
                  <% } %>
                </div>
    
              </div>

        <% } %>

          

        </div>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>